.logo {
  padding-bottom: 15px;
}

.custom {
  width: 100px;
}

div.inputTask form {
  margin: 0;
}

div.inputTask input[type='checkbox'] {
  float: left;
  margin-top: 10px;
}

div.inputTask span {
  display: block;
  overflow: hidden;
  padding-left: 20px;
}

input.readable {
  border-color: transparent;
  box-shadow: none;
  background-color: transparent !important;
}

input.editable {
  border-color: blue;
}

.strike {
  text-decoration: line-through;
}


#itemsLeftCount {
  padding-left: 20px;
}
